html,
body {
  padding-top: 10vh;
  background: white;
  background-size: cover;
  background-position: center;
}

.landing-container-main {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  height: fit-content;

  .landing-component {
    display: flex;
    flex-direction: row;
  }

  // display: none;
  .who-i-am {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #Own {
      font-size: 24px;
    }

    .i-desk {
      display: flex;
      flex-direction: column;
      padding: 8px 16px;
      color: gray;

      span {
        font-size: 14px;
        font-family: "Courier New", Courier, monospace;
      }
    }
  }

  .what-i-do {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 24px;

    #Own {
      font-size: 24px;
    }

    .i-desk {
      display: flex;
      flex-direction: column;
      padding: 8px 16px;
      color: gray;

      span {
        font-size: 14px;
        font-family: "Courier New", Courier, monospace;
        max-width: 500px;
      }
      .l-arroe {
        img {
          rotate: 280deg;
          left: 10px;
        }
      }
    }
  }

  .center-hero {
    display: flex;
    flex-direction: row;
    align-items: center;

    .job-tag {
      max-width: 500px;
      font-size: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .owener-img {
      max-width: 300px;

      img {
        width: 100%;
        border-radius: 50px;
      }
    }
  }

  .bottom-hero-content {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    padding: 2%;
  }
  .optional {
    padding: 1.5%;
  }

  #bottom-span-a {
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .landing-container-main {
    // padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .landing-component {
      display: flex;
      flex-direction: column;
      .job-tag img {
        display: none;
      }
      .l-arroe img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-container-main {
    // padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .landing-component {
      display: flex;
      flex-direction: column;
    }

    .center-hero {
      display: flex;
      flex-direction: column;
    }
  }
}
