.project-container {
    width: 100%;
    // height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;
    // margin-top: 20px;
}


.project-img img {
    width: 100%;
    height: 100dvh; /* dynamic viewport */
    object-fit: cover;
  }
  